<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <div class="about-container">
      <h2>Welcome to <%=shopName%></h2>
      <p>
        At <%=shopName%>, we are passionate about bringing beauty and joy to
        your life through our exquisite selection of flowers and our unique
        delivery service. With a commitment to quality and innovation, we have
        become a leading name in the floral industry.
      </p>
      <p>
        Our journey began with a simple idea – to create memorable experiences
        through the language of flowers. Each arrangement is crafted with
        precision and care, reflecting the emotions you want to convey. Whether
        it's a celebration, expression of love, or a gesture of sympathy, our
        flowers speak the language of your heart.
      </p>
      <p>
        What sets us apart is not just our stunning bouquets but also our
        delivery service. We understand that timing is crucial, and our unique
        delivery options allow you to choose when your flowers will be
        delivered. It's about making the experience truly yours.
      </p>
      <p>
        Join us in celebrating life's special moments with the elegance of
        flowers. Explore our collection and let us be a part of your cherished
        memories.
      </p>
    </div>
  </body>
  <%- include('footer') %>
</html>
