<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <link rel="stylesheet" type="text/css" href="/basket.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
    <title><%=shopName%></title>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %> <% if (paymentSuccess) { %>
    <p class="payment-success-message">
      Payment successful! Your order has been processed.
    </p>
    <% } %>
    <h1>Welcome, <%= username %></h1>
    <% if (orders && orders.length > 0) { %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Total Amount (£)</th>
            <th>Date</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tbody>
          <% orders.forEach(order => { %>
          <tr>
            <td><%= order.orderId %></td>
            <td><%= order.total_amount.toFixed(2) %></td>
            <td><%= order.latest_order_date %></td>
            <td><a href="/order/<%= order.orderId %>">View Details</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <p>No orders found.</p>
    <% } %>
  </body>
  <%- include('footer') %>
</html>
