<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <div class="gallery-container">
      <figure class="gallery__item">
        <a href="/ecuaflor">
          <img src="/images/rosas.jpeg" alt="ecuaflor" class="gallery__img" />
          <figcaption>
            <h2>Ecuadorian Roses</h2>
          </figcaption></a
        >
      </figure>
      <figure class="gallery__item">
        <a href="/tulip">
          <img src="/images/tulipan.jpeg" alt="tulip" class="gallery__img" />
          <figcaption>
            <h2>Tulips</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/bouquet">
          <img
            src="/images/front_bouquets.jpg"
            alt="bouquet"
            class="gallery__img"
          />
          <figcaption>
            <h2>Bouquets</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/special">
          <img src="/images/spetial.jpg" alt="spetial" class="gallery__img" />
          <figcaption>
            <h2>Special Occasions</h2>
          </figcaption>
        </a>
      </figure>
      <figure class="gallery__item">
        <a href="/orchids">
          <img src="/images/orquidea.jpg" alt="orchid" class="gallery__img" />
          <figcaption>
            <h2>Orchids</h2>
          </figcaption></a
        >
      </figure>
      <figure class="gallery__item">
        <a href="/hydrangea">
          <img
            src="/images/hydrangea.jpg"
            alt="hydragea"
            class="gallery__img"
          />
          <figcaption>
            <h2>Hydrangea</h2>
          </figcaption></a
        >
      </figure>
    </div>
    <div class="recent-comments-container">
      <h2>Recent Comments</h2>
      <ul>
        <% recentComments.forEach(comment => { %>
        <li>
          <strong><%= comment.username %>:</strong> <%= comment.comment_text %>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
  <%- include('footer') %>
</html>
