<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <ul class="offers-container">
      <% availableFlowers.forEach(function(flowers) { %>
      <li class="offers-item">
        <img
          src="<%= flowers.image_url %>"
          alt="<%= flowers.name %> Image"
          width="100"
        />
        <%= flowers.name %>, <% if (flowers.discount) { %>
        <span class="offers-original-price">
          £<%= flowers.price.toFixed(2) %>
        </span>
        £<%= (flowers.price - flowers.discount).toFixed(2) %> (Save £<%=
        flowers.discount.toFixed(2) %>)
        <p class="offers-discount">
          Discount: £<%= flowers.discount.toFixed(2) %> off
        </p>
        <% } else { %> £<%= flowers.price.toFixed(2) %> <% } %>
        <form action="/add-to-cart" method="post">
          <label for="quantity">Quantity:</label>
          <input
            type="number"
            id="quantity"
            name="quantity"
            value="1"
            min="1"
          />
          <input
            type="hidden"
            name="flowerId"
            value="<%= flowers.flowerId %>"
          />
          <button class="offers-button" type="submit">Add to Basket</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <%- include('footer') %>
  </body>
</html>
