<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <ul>
      <% availableFlowers.forEach(function(flowers) { %>
      <li><%= flowers.name %>, £<%=flowers.price%></li>
      <form action="/add-to-cart" method="post">
        <input type="hidden" name="flowerId" value="<%= flowers.flowerId %>" />
        <button type="submit">Add to Basket</button>
      </form>
      <% }) %>
    </ul>
  </body>
  <%- include('footer') %>
</html>
