<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>
    <ul>
      <% availableFlowers.forEach(function(flowers) { %>
      <li><%= flowers.name %>, £<%=flowers.price%></li>
      <% }) %>
    </ul>
  </body>
</html>
